@import '../../../assets/sass/defaults';

:host {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*
  HEADER
*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px;
  height: $header-height;
  width: 100%;
  box-shadow: 0 1px 2px rgba($text, 0.4);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

/*
  SEARCH
*/
.input-search-wrapper {
  position: relative;
  width: 100%;
  background: $gradient;
  border-radius: 40px;
  height: $search-height;
  margin-right: 20px;
}
.input-search {
  font-size: 18px;
  padding: 0 20px;
  color: $primary;
  font-family: $font;
  border-radius: 40px;
  display: flex;
  align-items: center;
  background: rgba(#fff, 1);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: relative;
  top: 2px;
  left: 2px;
  border: 0;
  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder {
  color: rgba($text, 0.3);
}

.clear-search {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  color: $primary;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/*
 ACTIONS
*/

.add-bookmark {
  width: $search-height;
  height: $search-height;
  border-radius: 100%;
  color: #fff;
  background: $gradient;
  // border: 1px solid $primary;
  line-height: $search-height;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-right: 15px;
  cursor: pointer;
  // background: rgba(#fff, 0);
  user-select: none;
}

/*
 CONTAINER
*/

.container {
  position: absolute;
  top: $header-height;
  left: 0;
  padding: 0;
  height: calc(100% - #{$header-height});
  overflow: hidden;
  background: $background;
  width: 100%;
  display: flex;
}
.list-folders {
  width: 50%;
}

.list-folder {
  position: absolute;
  top: 0;
  left: 0;
  width: $w-list-folder;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
}

.list-bookmarks {
  position: absolute;
  top: 0;
  left: $w-list-folder;
  width: calc(100% - #{$w-list-folder});
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.icon-duplicates {
  font-size: 30px;
  color: $text;
  position: relative;
  top: 5px;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  &::before {
    display: block;
  }
  &.active {
    color: $text;
    opacity: 1;
  }
}

.actions {
  display: flex;
}
