<ng-container *ngIf="bookmarks">
  <ng-container [ngSwitch]="bookmarks.type">
    <div
      (click)="openBookmark(bookmarks)"
      class="title-folder"
      *ngSwitchCase="'folder'"
      [ngStyle]="{
        'font-size': 18 + 'px'
      }"
    >
      {{ bookmarks.title }}
      <div class="num">
        {{ bookmarks.count }}
      </div>
    </div>

    <app-node [node]="bookmarks" *ngSwitchCase="'bookmark'"></app-node>
  </ng-container>
  <app-list
    *ngFor="let subBookmarks of bookmarks.children"
    class="node"
    [ngClass]="{
      bookmark: subBookmarks.type === 'bookmark',
      folder: subBookmarks.type === 'folder'
    }"
    [children]="subBookmarks"
  ></app-list>
</ng-container>
