<ng-container *ngIf="folders && folders.type === 'folder'">
  <div
    class="inner"
    [ngClass]="{
      root: folders.id === '0'
    }"
  >
    <div
      class="head"
      (click)="openFolder(folders, $event)"
      [ngClass]="{
        active: active
      }"
    >
      <div *ngIf="folders.id !== '0'" class="count icon-folder_line">
        <span class="count-text">
          {{ folders.count }}
        </span>
      </div>
      <div
        class="title"
        [ngClass]="{
          'edit-mode': !folders.title || editTitle
        }"
      >
        <div
          [title]="folders.title"
          class="text"
          *ngIf="!(!folders.title || editTitle) && folders.id !== '0'"
          (dblclick)="editFolderTitle()"
        >
          {{ folders.title }}
        </div>

        <div *ngIf="folders.id === '0'" class="text text-root">All my bookmarks</div>

        <input
          *ngIf="(!folders.title || editTitle) && folders.id !== '0'"
          type="text"
          class="input"
          [(ngModel)]="titleModel"
          (click)="$event.stopPropagation()"
          (keyup.enter)="addFolderTitle(folders.id)"
          placeholder="Add Name"
        />
        <div class="clear-edit" *ngIf="editTitle" (click)="editTitle = false; $event.stopPropagation()">×</div>
      </div>

      <!-- Add new folder -->
      <div class="add-folder" *ngIf="!(!folders.title || editTitle)" (click)="addFolder(folders.id, $event)">+</div>
      <div class="remove-folder" *ngIf="!(!folders.title || editTitle) && folders.parentId !== '0'" (click)="removeFolder(folders, $event)">
        ✕
      </div>
    </div>
    <ng-container *ngFor="let subFolder of folders.children">
      <app-list *ngIf="subFolder.type === 'folder'" [id]="subFolder.id" class="folder-drop folder" [children]="subFolder"></app-list>
    </ng-container>
  </div>
</ng-container>
