<ng-container *ngIf="bookmarks">
  <ng-container [ngSwitch]="bookmarks.type">
    <div
      (click)="openBookmark(bookmarks)"
      class="title-folder"
      *ngSwitchCase="'folder'"
      [ngStyle]="{
        'font-size': 18 + 'px'
      }"
    >
      {{ bookmarks.title }}
      <div class="num">
        {{ bookmarks.count }}
      </div>
    </div>

    <app-node [id]="bookmarks.id" [node]="bookmarks" *ngSwitchCase="'bookmark'" class="bookmark-drag"></app-node>
  </ng-container>
  <ng-container *ngFor="let subBookmarks of bookmarks.children">
    <ng-container *ngIf="typeData === 'all'">
      <app-list
        typeData="all"
        class="node"
        [ngClass]="{
          bookmark: subBookmarks.type === 'bookmark',
          folder: subBookmarks.type === 'folder'
        }"
        [children]="subBookmarks"
      ></app-list>
    </ng-container>

    <ng-container *ngIf="typeData === 'folder'">
      <app-list
        [id]="subBookmarks.id"
        typeData="folder"
        *ngIf="subBookmarks.type === 'folder'"
        class="node"
        [ngClass]="{
          bookmark: subBookmarks.type === 'bookmark',
          folder: subBookmarks.type === 'folder',
          'folder-drop': subBookmarks.type === 'folder'
        }"
        [children]="subBookmarks"
      ></app-list>
    </ng-container>
  </ng-container>
</ng-container>
