@import '../../../assets/sass/defaults';

:host {
  display: block;
  position: relative;
}

.node {
  width: $node-width;
  display: inline-block;
}

.folder {
  width: 100%;
  border: 1px dashed rgba(#fff, 0.5);
  padding: $padding-folder;
  background: rgba(#904e95, 0.1);
  margin: 10px;
}

.title-folder {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
}

.num {
  float: right;
  background: rgba(#fff, 0.3);
  padding: 0px 12px;
  border-radius: 20px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
