@import '../../../assets/sass/defaults';

:host {
  display: block;
  position: relative;
  width: 100%;
}

.node {
  width: $node-width;
  display: inline-block;
}

.folder {
  width: 100%;
  border: 1px dashed $text;
  padding: $padding-folder;
  margin: 10px;
}

.title-folder {
  color: $text;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.num {
  float: right;
  padding: 0px 12px;
  border-radius: 20px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color: $text;
  border: 1px solid $text;
}
