@import '../../../assets/sass/defaults';

:host {
  display: inline-block;
  padding: 0 0 0 10px;
  width: 100%;
  background: rgba(#fff, 1);
  border-top: 1px solid rgba($text, 0.2);
}

.inner {
  border-radius: 0;
  height: auto;
  position: relative;
}

.head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  &.active {
    .count-text {
      color: rgba($primary, 1);
    }
    .count {
      &:before {
        color: rgba($primary, 1);
      }
    }
  }
}

.title {
  font-size: 14px;
  font-weight: 700;
  width: calc(100% - #{$folder-height});
  color: darken($text, 7%);
  padding: 0 10px;
  height: $folder-height;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  flex: 0 1 auto;
  &.edit-mode {
    width: 100%;
  }
}

.text {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.count {
  position: relative;
  width: 20px;
  flex: 0 0 auto;
  color: rgba($text, 0.8);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  &:before {
    position: absolute;
    color: rgba($text, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
}

.count-text {
  position: relative;
  z-index: 1;
}

.add-folder {
  width: 20px;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  cursor: pointer;
  color: $primary;
  &:hover {
    background: rgba($text, 0.1);
  }
}

.input {
  width: 100%;
  height: 30px;
  border: 1px solid rgba($text, 0.4);
  border-radius: 6px;
  padding-left: 4px;
  &::placeholder {
    color: rgba($text, 0.4);
  }
  &:focus {
    outline: none;
    border: 1px solid $primary;
  }
}

.clear-edit {
  right: 16px;
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.5;
  cursor: pointer;
}
