<div class="parent-folder icon-folder_line" *ngIf="node.type === 'duplicate' && parent" (click)="openFolder(parent.id)">
  {{ parent.title }} <span class="date">{{ parent.dateGroupModified | amTimeAgo }}</span>
</div>
<div class="inner" [title]="node.url" (click)="openBookmark(node.url)" [ngClass]="{ duplicate: node.type === 'duplicate' }">
  <div
    class="circle"
    [ngStyle]="{
      'background-image': favicon
    }"
  ></div>

  <div class="title">
    <div class="text">
      {{ node.title }}
    </div>
    <div class="date" *ngIf="node.type !== 'duplicate'">
      {{ node.dateAdded | amTimeAgo }}
    </div>
  </div>
  <div class="clear" (click)="removeBookmark(node.id, $event)">×</div>
</div>
