@import '../../../assets/sass/defaults';

:host {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  &:hover {
    .circle {
      background-color: rgba(#fff, 0.3);
    }
  }
}
.inner {
  border-radius: $node-circle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $node-circle;
  box-shadow: 1px 1px 10px rgba($text, 0.3);
  overflow: hidden;
  position: relative;
}
.circle {
  width: $node-circle;
  height: $node-circle;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: rgba(#fff, 0.8);
  transition: all 200ms ease;
}

.title {
  background: rgba(#fff, 1);
  font-size: 14px;
  width: calc(100% - #{$node-circle});
  color: $text;
  padding: 0 10px;
  height: $node-circle;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

.text {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.folder {
  border: 1px solid rgba(#fff, 0.3);
  width: $node-circle - 5px;
  height: $node-circle - 5px;
  border-radius: 0;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: $node-circle - 5px;
  margin: 5px auto;
  color: $text;
  font-size: 18px;
  transition: all 200ms ease;
  position: relative;
  &::before {
    content: '';
    width: $node-circle/2;
    height: 7px;
    display: block;
    position: absolute;
    top: -7px;
    left: -1px;
    border: 1px solid rgba(#fff, 0.3);
    box-sizing: border-box;
  }
}

.clear {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.date {
  font-size: 11px;
  opacity: 0.5;
}
