<div class="search">
  <input class="input-search" [(ngModel)]="query" (keyup.enter)="search($event)" placeholder="Search in Bookmarks" />
  <div class="clear" (click)="cleanBookmarks()" *ngIf="results">×</div>
  <div class="actions">
    <div class="add-bookmark" (click)="addBookmark()">+</div>
  </div>
</div>
<div class="container">
  <app-list class="list-container" [bookmarks]="results || bookmarks" typeData="folder"></app-list>

  <app-list class="list-folders" [bookmarks]="results || bookmarks" typeData="all"></app-list>
</div>
