@import './assets/sass/normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import './assets/sass/defaults';

* {
  box-sizing: border-box;
}

body {
  background: #141e30;
  background: #904e95;
  font-family: $font;
  font-family: Inconsolata;
}
