// Colors
$text: #67777f;
$font: 'Titillium Web';

// Background
$gradient: linear-gradient(to bottom, #904e95 27%, #e96443 110%);

//  MARGINS
$padding-top-popup: 20px;
$padding-popup: 20px 30px;

//  SIZE
$node-width: 50%;
$node-circle: 36px;
$search-height: 40px;
$header-height: $search-height + $padding-top-popup * 2;
// Folders
$padding-folder: 10px;
