// Colors
$text: #67777f;
$font: 'Nunito Sans';

// Background
$primary: #ed5269;
$secondary: #fead09;
$gradient: linear-gradient(90deg, $primary 27%, $secondary 110%);

$background: lighten($text, 47%);

//  MARGINS
$padding-top-popup: 20px;
$padding-left-popup: 30px;
$padding-popup: 20px 30px;

//  SIZE
$node-width: 100%;
$node-circle: 36px;
$search-height: 36px;
$header-height: $search-height + $padding-top-popup * 2;

// Folders
$padding-folder: 10px;
$folder-height: 42px;

// Lists
$w-list-folder: 220px;

//  Popup
$w-popup: 450px;
$h-popup: 550px;
